.container{
  display: flex;
  justify-content: center;
  width: 50%;
}
.Container1{
  display: flex;
  justify-content: center;
}
#imagen{
  height: 10rem;
}
#todo{
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid #ccc;
}
#divimagen{
  display: flex;
  justify-content: center;
}
h2{
  text-align: center;
}
#fondo{
  display: flex;
  justify-content: center;
  color: white;
}
#contenido{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
@media (max-width: 500px){
  #todo{
    display: flex;
  justify-content: center;
  width: 100%;
  border: none;
  }
}