.home-container {
  margin-top: 100px;
}

.home-container h1 {
  line-height: 1.5;
}

.home-container img {
  width: 80%;
}
.mt-4{
  display: flex;
  justify-content: center;
}
.text-center{
  display: flex;
  justify-content: center;
}
.imagen{
  width: 200vh;
}
.text-center {
  display: flex;
  justify-content: center;
}

.text-grey {
  color: white;
  margin-top: 20px;
}

.párrafo {
  text-align: center;
}
body {
  background-image:url(../img/fondohome10.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center center;
}
@media (max-width: 800px){
  .imagen{
    width: 150vh;
  }
}
@media (max-width: 600px){
  .imagen{
    width: 100vh;
  }
}
@media (max-width: 400px){
  .imagen{
    width: 50vh;
  }
}
@media (max-width: 200px){
  .imagen{
    width: 25vh;
  }
}

