h3 {
  color: white;
}
.titulo {
  color: black;
}
body {
  background-image:url(../img/fondohome10.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
}
