body {
    background: transparent;
}
.nav-header{
    padding: 3rem;
    height: 120px;
   
box-shadow: 1px 5px 16px -4px #6D6D6D;
}

.items{
    color:black;
}
.items:hover{
    text-decoration: none;
    color:black;
}
.me-auto{
    background-color: transparent;
}