body {
    background: transparent;
    text-decoration: none !important;
    width: 80% !important;
}
.nav-header{
    padding: 3rem;
    height: 120px;
}

.items{
    color:black;
}
.items:hover{
    text-decoration: none;
    color:black;
}
.me-auto{
    background-color: transparent;
}