#Container1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#navtotal1{
    display: flex;
    justify-content: center;
}
#menunav{
    display: flex;
}
@media (max-width: 787px) {
    #menunav{
        display: flex;
        flex-wrap: wrap;
    }

}
@media (max-width:350px){
    #menunav{
        display: flex;
        flex-direction: column;
    }
}
