body{
    display: flex;
    justify-content: center;
    text-align: center;
}
.letra_tabla{
    border: 1px solid #ccc;
    padding: 0 8 0 8px;
    border-right: 10px;
}
.divdatosclientes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    width: auto;
}
.table{
    background-color: red;
    text-align: center;
}
.ul{
    text-decoration: none !important;
}
tr {
    color: white;
}
.tr {
    color : white;
}
.th {
    border: 1px solid #ccc;   
}
.boton1{
    display: flex;
    margin-right: 2%;
    margin-bottom: 3%;
    margin-top: 0;
}
.boton2{
    display: flex;
    margin-top: 0;
    margin-left: 2%;
    margin-bottom: 3%;
}
.tbody {
    background-color: grey;
}
.h1 {
    color: white;
}
.td {
    border: 1px solid #ccc;   
}
.td1{
    display: flex;
    justify-content: space-around;
}
.botones{
    display: flex;
    justify-content: center;
}
.detallesOrdenes{
    color: black;
}
#responsive-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .pDatosdel cliente{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    word-break: break-all; /* Cambio realizado aquí */
    max-height: 80px; /* Ajusta el valor según sea necesario */
    overflow: hidden;
  }
  
  #responsive-table th,
  #responsive-table td {
    padding: 8px;
    text-align: center;
    
  }

@media (max-width: 680px) {
    #responsive-table th,
    #responsive-table td {
      display: grid;
      width: 100%;
      box-sizing: border-box;
      text-align: center;
    }
    .letra_tabla{
        border-bottom: 1px solid #ccc;
    }
    .pDatosdel cliente{
        max-width: 235px;
        display: flex;
        flex-wrap: wrap;
        height: none;
    }
  
    #responsive-table th {
      font-weight: bold;
    }

    .tr{
        display: none;
    }
    .divdatosclientes{
        width: 235px;
    }
  
    #responsive-table td:before {
      content: attr(data-label);
      display: inline-block;
      font-weight: bold;
      width: 50%;
      margin-right: 5px;
    }
  }

  
  