.card-registro{
    width: 100%;
    margin-top: 80px;
    min-height: 600px;
}

.card-registro img{
    object-fit: cover;
}

.card-body{
    padding: 30px;
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/registerfondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .text-muted {
    color: white!important;
}