h1{
    color: white;
}
tbody{
    background-color: white;
}
#botonEliminar{
    width: 100px;
    margin-right: 5px;
}
#botonEditar{
    width: 100px;
}
#admin{
    width: 150vh;
}
#responsive-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  #responsive-table th,
  #responsive-table td {
    padding: 8px;
    text-align: center;
  }
  #administradorUsuarios{
    display: none;
  }

  .responsive-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-group {
    margin: 10px;
  }
  
  label {
    color: black;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: auto;
    margin-top: 4px;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }

@media (max-width: 680px) {
    #responsive-table th,
    #responsive-table td {
      display: grid;
      width: 100%;
      box-sizing: border-box;
      text-align: center;
    }
    #botonEliminar{
        width: 100%;
    }
    #botonEditar{
        width: 100%;
    }
    #thead{
        display: none;
    }
    #administradorUsuarios{
        display: block;
    }
    #td{
        display: flex !important;
    }
  
    #responsive-table th {
      font-weight: bold;
    }

    #responsive-table td:before {
      content: attr(data-label);
      display: inline-block;
      font-weight: bold;
      width: 50%;
      margin-right: 5px;
    }

    input,
  textarea {
    width: auto !important;
  }
  }
