nav a {
  color: white;
  padding: 0.4rem 0.6rem;
  text-decoration: none;
}

nav a.active {
  color: palevioletred;
  font-weight: bolder;
}

.dropdown a {
  color: black;
  display: block;
}

.dropdown div {
  width: 230px;
}

#cards {
  gap: 1rem;
}

.img-wrapper {
  height: 200px;
  overflow: hidden;
}

#descriptione.card-text {
  height: 120px;
}

#admin form div {
  margin-bottom: 1rem;
}

#admin form div input,
#admin form div textarea {
  width: 700px;
  padding: 5px;
  border-radius: 5px;
}

#admin form div label {
  margin-right: 1rem;
  width: 120px;
}

input.error {
  border: 1px solid red;
  background-color: #ffaaaa;
}

.errorMessage {
  color: red;
  padding-top: 5px;
}
.letra_tabla {
  color: black;
}
body {
  height: 100vh;
  background-image:url(../img/fondohome10.jpg);
  background-size: cover;
  background-position: center center;
}
